DEBUG=true

# GRPC
GRPC_ADDRESS=:50051

MAX_PEERS_PER_ROOM=10

# PUBLIC_IP of the server instance must be provided if DEBUG is false
# Not necessary for local development when DEBUG is true
PUBLIC_IP=127.0.0.1
